@model Vidly.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Monday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(1)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Tuesday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(2)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Wednesday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(3)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Thursday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(4)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Friday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(5)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Saturday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(6)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-3">
        <ul class="list-group col">
            <li class="list-group-item list-group-item-action active">Sunday</li>
            @foreach (var c in Model.Schedule.Where(m => m.Day.Equals(7)))
            {
                <li class="list-group-item list-group-item-action">
                    @c.Movie.Name
                </li>
            }
        </ul>
    </div>
</div>