@model Vidly.ViewModels.TransactionFormViewModel

@{
    ViewBag.Title = "TransactionForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //foreach (var m in Vidly.Models.Movie.GetMovies())
    //{
    //    if (true)
    //    {

    //    }
    //    Model.MoviesCheckBox.Add(new Vidly.Models.MovieCheckBox { Id = m.Id, Name = m.Name, Value = false });
    //}

    //foreach (var m in Model.Schedules.Where(s => s.Day == (int)DateTime.Now.DayOfWeek))
    //{
    //    Model.MoviesCheckBox.Add(new Vidly.Models.MovieCheckBox { Id = c.Id, Name = m.Name, Value = false });
    //}


    Model.MoviesCheckBox.AddRange(Vidly.Models.Movie.GetMovies().Select(m => new Vidly.Models.MovieCheckBox { Id = m.Id, Name = m.Name, Value = false }));
}

<h2>Transaction Form</h2>
@using (Html.BeginForm("Save", "Transaction"))
{
    @Html.HiddenFor(m => m.MovieId, new { @Name = "movieId" })
    @Html.HiddenFor(m => m.TotalPrice, new { @Name = "totalPrice" })
    @Html.HiddenFor(m => m.CustomerId, new { @Value = Model.Customer.Id })
    @Html.HiddenFor(m => m.TransactionDate, new { @Value = DateTime.Now })
    <p>@Model.Customer.Name </p>
    <p>@DateTime.Now.ToString("dd/MMMM/yyyy")</p>
    <br />
    <p> Movies : </p>


    for (int m = 0; m < Model.MoviesCheckBox.Count; m++)
    {

        <div class="form-check">
            @Html.HiddenFor(c => c.MoviesCheckBox[m].Id)
            @Html.HiddenFor(c => c.MoviesCheckBox[m].Name)
            @Html.CheckBoxFor(c => c.MoviesCheckBox[m].Value, new { @Class = "form-check-input" })
            @*@Html.LabelFor(c => c.MoviesCheckBox[m].Name, new { @Class = "form-check-label" })*@
            @Html.Label(@Model.MoviesCheckBox[m].Name)
            @*<span>@Model.MoviesCheckBox[m].Name</span>*@
        </div>
    }

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" id="saveBtn">Save</button>
}

@section scripts {
    <script>
        var id, name, price;
        /*$('input:radio[name=inlineRadioOptions]:checked').change(function () {
            val = $("input:radio[name=inlineRadioOptions]").val();
            name = $('#inlineRadio' + val).val();
        }); */
        //radiobutton.change()
        $("input[name='inlineRadioOptions']").click(function () {
            id = $("input:radio[name=inlineRadioOptions]:checked").val();
            name = document.getElementById("lblRadio" + id).innerHTML;
            price = document.getElementsByName("TotalPrice" + id)[0].innerHTML;
            $("input[name='movieId']").val(id);
            $("input[name='totalPrice']").val(price);
            $(".display-4").text("Movies : " + name);
            $(".lead").text("Price : " + price);
        });
    </script>
}